.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    max-width: none;
    margin:0 auto;
    background-color: #f9f9f9; /*light grey*/
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
   
}

.closeIcon {
    cursor: pointer;
    color: #333;
    transition: color 0.3s ease;
    font-size: 26px;
}

.closeIcon:hover {
    color: red;
}

input, select {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc; /*light grey*/
    border-radius: 5px;
    outline: none;
    width: 25vw !important;
    max-width: 100% ;
    height: 42px;
    box-sizing: border-box;
    
}

input:focus, select:focus{
    border-color: #007bff;/*blue */
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.4);/* Soft Gloe Effect*/
}

select {
    cursor: pointer;
}

h1{
    font-size: 32px;
    font-weight: bold;
    color: #333; /*dark grey*/
    margin-bottom: 20px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

.formGroup{
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    width: 100%;
    max-width: none;

}

label{
    font-size: 16px;
    color: #555;/*medium grey*/
    margin-bottom: 5px;
    text-align: left;
}

.buttonGroup {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.saveButton, .cancelButton {
    flex: 1; /* Makes both buttons take equal width */
    padding: 12px 10px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.saveButton {
    margin-right: 10px;
    color: #fff;
    background-color: #007bff;
}

.saveButton:hover {
    background-color: #0056b3;
}

.cancelButton {
    color: #333;
    background-color: #ddd;
}

.cancelButton:hover {
    background-color: #bbb;
}

@media (max-width: 768px) {
    input, select {
        width: 50vw !important;
    }
}

@media (max-width: 480px) {
    input, select {
        width: 75vw !important;
    }
    
}