.sidebar{
    width: 250px;
    height: 100vh; /*full height*/
    background-color: #333; /*dark*/
    color: white; /*text color*/
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    display: flex;
    flex-direction: column;/* Stack links vertically*/
    align-items: center; /*center horizontally*/
    transition: transform 0.3s ease-in-out;

}

.sidebar.hidden{
    transform: translateX(-100%);
}

.sidebar.visible{
    transform: translateX(0);
}

.navContainer{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.navLink{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    width: 100%;
    text-align: center;
}

.activeNavLink{
    background-color: #555;
    font-weight: bold;
}

.navLink:hover{
    background-color: #555;
}

.closeButton{
    position: absolute;
        top: 20px;
        right: 20px;
        background-color: transparent;
        border: none;
        font-size: 30px;
        color: #fff;
        cursor: pointer;
}